.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
ul {
  list-style: none;
  overflow: hidden;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  li {
      a {
          cursor: pointer;
          padding: 0 20px;
          color: white;
          background-color: transparent;
          text-decoration: none;
      }
      a:hover, a:active {
          color: gray;
      }
  }
}